<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNnpDJ_6tMhIeqSrRurO4eDookJ7nB1Ac</string>
	<key>GCM_SENDER_ID</key>
	<string>70702888291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatting</string>
	<key>PROJECT_ID</key>
	<string>chatting-a428d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-a428d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70702888291:ios:2295c68e13a24fa7bf4f56</string>
</dict>
</plist>